{% if not is_htmx %}
    {% extends "admin/layout.jinja" %}
    {% block title %}Ganti Password{% endblock %}
{% else %}
    <title>Ganti Password</title>
{% endif %}

{% from 'macros.jinja' import render_notif %}

{% block content %}

{{ render_notif(error, success, info) }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Beranda</li>
    </ol>
</nav>
<h1 class="h2">Ganti Password</h1>

<div class="row">
<div class="col">
<form method="POST" action="{{ url_for('admin.ganti_password') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="mb-3">
        <label class="form-label" for="current_password">Password Sekarang</label>
        <input type="password" class="form-control" id="current_password" name="current_password" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="new_password">Password Baru</label>
        <input type="password" onkeyup="cek_password()" class="form-control" id="new_password" name="new_password" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="confirm_password">Konfirmasi Password</label>
        <input type="password" onkeyup="cek_password()" class="form-control" id="confirm_password" name="confirm_password" required>
        <div id="password_help" class="form-text"></div>
    </div>
    <div class="mb-3">
        <button id="bt_submit" type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
</div>
</div>
<script>
let cek_password = () => {
    if(document.getElementById("new_password").value != document.getElementById("confirm_password").value){
        document.getElementById("password_help").innerText = "Password tidak sama";
        document.getElementById("bt_submit").disabled = true;
    }else{
        document.getElementById("password_help").innerText = "Password sudah sama";
        document.getElementById("bt_submit").disabled = false;
    }
};
</script>
{% endblock %}